# top-most EditorConfig file
root = true

# Formato de fim de linha
[*]
end_of_line = lf
insert_final_newline = true

# Identação
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

# Trim espaços em branco
[*.{js,ts,jsx,tsx,html,css,scss}]
trim_trailing_whitespace = true

# Charset
[*.{js,ts,jsx,tsx,html,css,scss}]
charset = utf-8

# Limite de largura de linha
[*.{md,txt}]
max_line_length = 80
